
<div class="top-bar">
    <div class="container">
        <div class="row justify-content-between">
            <div class="contact-info ps-2 ps-sm-0 col-12 col-md-6 d-flex justify-content-start justify-content-md-start p-0">
                <a class="d-flex" href="tel:(00) 000 111 2222">
                    <img src="../../../assets/svg/phone.svg" alt="">
                    <span>(00) 000 111 2222</span>
                </a>
                <a class="d-flex" href="mailto:example@example.com">
                    <img src="../../../assets/svg/email.svg" alt="">
                    <span>example@example.com</span>
                </a>
            </div>
            <div class="social-icon ps-2 ps-sm-0 col-12 col-md-6 d-flex flex-wrap p-0 align-items-center  justify-content-start justify-content-md-end">
                <a href="">
                    <img src="../../../assets/svg/facebook.svg" alt="">
                </a>
                <a href="">
                    <img src="../../../assets/svg/twitter.svg" alt="">
                </a>
                <a href="">
                    <img src="../../../assets/svg/youtube.svg" alt="">
                </a>
                <a href="">
                    <img src="../../../assets/svg/instagrame.svg" alt="">
                </a>
                <a href="">
                    <img src="../../../assets/svg/linkdin.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<header>
    <nav class="navbar p-0 navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand logo d-flex align-items-center" href="#"> 
                <img src="../../../assets/images/logo.png" alt="">
                <p>Patient system</p>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-bar">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Services</a>
              </li>             
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Success Stories</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Download App</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">About Us</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" routerLink="/patient">Patient</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>   
            </ul>
          </div>
        </div>
      </nav>
</header>
<div class="herosection">
    <div class="sectiondescription">
        <div class="container">
            <div class="heropart">
                <h1>Lorem Ipsum is simply dummy text</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <div class="btnlogin d-flex justify-content-center">
                    <button>Lorem Ispum</button>
                    <button>Lorem Ispum</button>
                </div>
                <div class="imacpc">
                    <div class="imac">
                        <img src="../../../assets/images/iMac.png" alt="imac"/>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div class="description">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="title">                    
                    <div class="heading d-flex align-items-center">
                        <div class="mail d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/mail.svg" alt=""/>
                        </div>
                        <h2>Lorem impsum</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="title">                    
                    <div class="heading d-flex align-items-cente">
                        <div class="mail d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/locate.svg" alt=""/>
                        </div>
                        <h2>Lorem impsum</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="title">                    
                    <div class="heading d-flex align-items-cente">
                        <div class="mail d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/location.svg" alt=""/>
                        </div>
                        <h2>Lorem impsum</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="title">                    
                    <div class="heading d-flex align-items-cente">
                        <div class="mail d-flex align-items-center justify-content-center">
                            <img src=".. /../../assets/svg/translate.svg" alt=""/>
                        </div>
                        <h2>Lorem impsum</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="title">                    
                    <div class="heading d-flex align-items-cente">
                        <div class="mail d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/edit.svg" alt=""/>
                        </div>
                        <h2>Lorem impsum</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="title">                    
                    <div class="heading d-flex align-items-cente">
                        <div class="mail d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/notifications.svg" alt=""/>
                        </div>
                        <h2>Lorem impsum</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service">
    <div class="container">
        <div class="servicetitle">
            <h3>Services</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="divider"></div>
        <div class="servicebase">
            <h5>Lorem Ispum</h5>
        </div>
        <div class="row m-0">
            <div class="col-lg-4">
                <div class="mb-4 mb-lg-0">
                    <div class="user  text-lg-end text-start">
                        <div class="userimage d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/profile.svg" alt=""/>
                        </div>
                        <h6>Lorem Ispum</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="user  text-lg-end text-start mt-3 mt-lg-5">
                        <div class="userimage d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/profiledit.svg" alt=""/>
                        </div>
                        <h6>Lorem Ispum</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="user text-lg-end text-start mt-3 mt-lg-5">
                        <div class="userimage d-flex align-items-center justify-content-center">
                            <img src="../../../assets/svg/location.svg" alt=""/>
                        </div>
                        <h6>Lorem Ispum</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="system d-flex align-items-center justify-content-center">
                    <div class="patientsystem">
                        <img src="../../../assets/images/logo.png" alt="image"/>
                        <p>Patient system</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mt-4 mt-lg-0">
                    <div class="user text-start">
                        <div class="userimage d-flex align-items-center justify-content-center doneprofile">
                            <img src="../../../assets/svg/profile.svg" alt=""/>
                        </div>
                        <h6>Lorem Ispum</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="user text-start mt-3 mt-lg-5">
                        <div class="userimage d-flex align-items-center justify-content-center doneprofile">
                            <img src="../../../assets/svg/profiledit.svg" alt=""/>
                        </div>
                        <h6>Lorem Ispum</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="user text-start mt-3 mt-lg-5">
                        <div class="userimage d-flex align-items-center justify-content-center doneprofile">
                            <img src="../../../assets/svg/location.svg" alt=""/>
                        </div>
                        <h6>Lorem Ispum</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-4">
                <div class="aboutus">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="aboutus mt-3 mt-lg-0">
                    <h3>Call Us</h3>
                    <p>(000) 000 000 000</p>
                </div>
                <div class="aboutus mt-4">
                    <h3>Send Us Mail</h3>
                    <p>(000) 000 000 000</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="aboutus mt-3 mt-lg-0">
                    <h3>Keep In Touch</h3>
                    <ul class="ps-0 d-flex align-items-center">
                        <li class="ms-0">
                            <a href=""><img src="../../../assets/svg/facebooks.svg" /></a>
                        </li>
                        <li>
                            <a href=""><img src="../../../assets/svg/twitters.svg" /></a>
                        </li>
                        <li>
                            <a href=""><img src="../../../assets/svg/youtubes.svg" /></a>
                        </li>
                        <li>
                            <a href=""><img src="../../../assets/svg/instagrams.svg" /></a>
                        </li>
                        <li>
                            <a href=""><img src="../../../assets/svg/linkdins.svg" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="basic">
            <ul class="d-flex ps-0 flex-wrap align-items-center justify-content-center mt-4">
                <li>
                    <a href="javascript:void(0)">Home</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Services</a>
                  </li>             
                  <li>
                    <a href="javascript:void(0)">Success Stories</a>
                  </li>  
                  <li>
                    <a href="javascript:void(0)">Download App</a>
                  </li>  
                  <li>
                    <a href="javascript:void(0)">About Us</a>
                  </li>  
            </ul>
        </div>
        <div class="divider"></div>
        <div class="copyright">
            <p>@2020 Patient System. All Rights Reserved</p>
        </div>
    </div>
</div>